
.next {
  margin-left: 10px;
}

.main {
  margin: 1em;
}

.icon-table {
  font-size: 1.5 em;
  vertical-align: 0 !important;
}

button {
   color: black;
   background-color:purple;
}

button:hover {
   cursor: pointer;
}

.mr-auto{
  color: #008000;
}

.nav-link,.maticulum {
  color: white;
  background-color:purple;
  font-weight: bold;
}

.nav-link:hover{
	color: rgb(212,213,213);
}
