
.next {
  margin-left: 10px;
}

.main {
  margin: 1em;
   background-color:rgb(0,204,204); 
  /* background: no-repeat url('https://gateway.pinata.cloud/ipfs/QmYovH9rKcDnyX1BRUg4eK1KkYJpJWeCE9Zpyb9p9S4owJ/maticulumBackground.png');  */
}

.icon-table {
  font-size: 1.5 em;
  vertical-align: 0 !important;
}

label {
	font-weight: bold;
}

button {
   color: black;
   background-color:#8247e5  !important;
   color: white !important;
   font-weight: bold !important;
}

button:hover {
   cursor: pointer;
}

.mr-auto{
  color: #008000;
}

.nav-link,.maticulum {
  color: white;
  background-color:#8247e5;
  font-weight: bold;
}

.nav-link:hover{
	color: rgb(212,213,213);
}
